.titulo{
    text-align: center;
    
    
}

.encabezado{
    font-size: 30px;
}
.subtitulo{
    font-size: 20px;
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.texto{
    width: 600px;
    margin: 20px;
}
